<h1>Events</h1>

<p>There are <%=@events.size %> events:</p>

<ul>

  <% @events.each do |event| %>
    <li><strong><%=event.name %></strong>
    in <%=event.location %>
    : <%=number_to_currency(event.price) %>
    </li>
  <% end %>

</ul>

<p>This is a static list</p>
<ul>
  <li>Bugsmash</li>
  <li>Hackathon</li>
  <li>Kata Camp</li>
</ul>