<h1>Events</h1>

<p>There are <%=@events.size %> events:</p>

<ul>

  <% @events.each do |event| %>
    <li><%=event %></li>
  <% end %>

</ul>

<p>This is a static list</p>
<ul>
  <li>Bugsmash</li>
  <li>Hackathon</li>
  <li>Kata Camp</li>
</ul>